node_modules/
coverage/
dist/
build/
types/
storybook-static/
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
.DS_Store
.vscode
.docz/
package-lock.json
coverage/
.idea
yarn-error.log
.size-snapshot.json
__diff_output__
test-results/
playwright-report/
blob-reports/*
snapshot-results/

# e2e paths
test/e2e/blob-reports/
test/e2e/playwright-report/
test/e2e/test-results/
test/e2e/snapshot-results/

# https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
