# Auto detect text files and perform LF normalization
* text=auto

# Force LF for all text files
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.sh text eol=lf
*.yml text eol=lf
*.yaml text eol=lf
*.md text eol=lf
*.css text eol=lf
*.html text eol=lf
*.svg text eol=lf
*.glsl text eol=lf
*.vert text eol=lf
*.frag text eol=lf
*.mdx text eol=lf

# Binary files
*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.woff binary
*.woff2 binary
*.ttf binary
*.eot binary
*.otf binary
*.wasm binary
*.glb binary
*.gltf binary
*.obj binary
*.bin binary

