# Build output
build/
coverage/
dist/
docs/
storybook-static/
types/
playwright-report/

# Vite cache
vite.config.*.timestamp-*

# Logs
*.log

# System files
.DS_Store
Desktop.ini
Thumbs.db
ehthumbs.db
$RECYCLE.BIN/
__diff_output__

# IDE/editor files
.idea
.vscode
.claude/settings.local.json

# Claude Code
.claude/
CLAUDE.md

# Package/lock files
package-lock.json
yarn-error.log
.size-snapshot.json
test-results

# docz output
.docz/

# Node modules
node_modules/

# Yarn files (see https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored)
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
